<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    

    <title>Black Jack</title>
</head>
<body>

    
    <h1 style="font-weight: 600; font-size: 100px; text-align:center;">BlackJack</h1>
    <div class="container mt-4">

        <a href="/">Play</a>

        <h2>Highscores</h2>

    <table style="width:100%">
    
    <tr>
        <th>Username</th>
        <th>Score</th> 
        
    </tr>
    <tr>
        {{#if name1}}
        <td>{{name1}}</td>
        {{/if}}

        {{#if score1}}
        <td>{{score1}}</td>
        {{/if}}
        
    </tr>
    <tr>
        {{#if name2}}
        <td>{{name2}}</td>
        {{/if}}
        
        {{#if score2}}
        <td>{{score2}}</td>
        {{/if}}
        
        
        
    </tr>
    <tr>
        {{#if name3}}
        <td>{{name3}}</td>
        {{/if}}
        
        {{#if score3}}
        <td>{{score3}}</td>
        {{/if}}
        
    </tr>

    <tr>
        {{#if name4}}
        <td>{{name4}}</td>
        {{/if}}
        
        {{#if score4}}
        <td>{{score4}}</td>
        {{/if}}
        
    </tr>

       <tr>
        {{#if name5}}
        <td>{{name5}}</td>
        {{/if}}
        
        {{#if score5}}
        <td>{{score5}}</td>
        {{/if}}
        
    </tr>

    <tr>
        {{#if name6}}
        <td>{{name6}}</td>
        {{/if}}

        {{#if score6}}
        <td>{{score6}}</td>
        {{/if}}
        
    </tr>
    <tr>
        {{#if name7}}
        <td>{{name7}}</td>
        {{/if}}
        
        {{#if score7}}
        <td>{{score7}}</td>
        {{/if}}
        
        
        
    </tr>
    <tr>
        {{#if name8}}
        <td>{{name8}}</td>
        {{/if}}
        
        {{#if score8}}
        <td>{{score8}}</td>
        {{/if}}
        
    </tr>

    <tr>
        {{#if name9}}
        <td>{{name9}}</td>
        {{/if}}
        
        {{#if score9}}
        <td>{{score9}}</td>
        {{/if}}
        
    </tr>

       <tr>
        {{#if name10}}
        <td>{{name10}}</td>
        {{/if}}
        
        {{#if score10}}
        <td>{{score10}}</td>
        {{/if}}
        
    </tr>
    

    </table>
       

       

    

    {{#if scores}}
        <td>{{score1}}</td>
        {{/if}}

    {{#if message1}}
        <h4 class="alert alert-successs mt-4">{{message1}}</h4>
        {{/if}}
   </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>